<%= link_to ' Home ', profile_path(@current_user.id) %>   |
<%= link_to ' Logout', login_path, method: :delete %>

<h3><strong><%= @current_user.name%> | <%= image_tag @current_user.avatar %></strong></h3>
<br>

<h4>Edit Workout: </h4>
