<div class="home">

  <section class="trackr">
    <h3>Trackr is a site designed to help users keep track of their workouts and to add new entries based on the type of exercise, duration and distance. <br><br>
    Built using; Ruby on Rails, JavaScript, jQuery, OpenWeather API, AJAX</h3>
  </section>

</div>
