/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require fullcalendar
 */
 html {
   /* background: url("https://media.giphy.com/media/6Z3D5t31ZdoNW/giphy.gif") */
   /* background: url("https://images.unsplash.com/photo-1465479423260-c4afc24172c6?auto=format&fit=crop&w=1500&q=80") */
   /* no-repeat center left fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover; */
   /* opacity: 0.5; */
 }
body{
     background: url("https://images.unsplash.com/photo-1465479423260-c4afc24172c6?auto=format&fit=crop&w=1500&q=80")
     no-repeat center left fixed;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
  margin-left: 5%;
  /* margin-right: 20%; */
  font-size: 120%;
  font-family: 'Libre Franklin', sans-serif;
}
h1{
  color:orangered;
  font-size: 350%;
}
 img{
   width: 2.5vw;
   height: 5vh;
 }
 a{
   font-size: 120%;
   color: lightgreen;
   padding: 0px 4px;
 }
a:hover{
  color: yellow;
}

/* user login, registration forms */
.user{
  background-color: rgba(11, 8, 8, 0.3);
  margin-left: 14%;
  margin-right: 14%;
  margin-top: 3%;
  margin-bottom: 15%;
  padding:5px;
  color: white;
  font-size: 130%;
  text-align: center;
}

.user label{
  padding: 4px;
  color: white;
}

.user .submit{
  background-color: black;
}

footer{
  text-align: center;
  background-color: rgba(black, 0.6);
  padding: 1%;
  color: orangered;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.errors{
  color: red;
  font-size: 120%;
}
ul {
  list-style-type: none;
}

#map {
  height: 100%;
}
