// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h2, h3 {
  color:white;
}
form{
  color: black;
  // opacity: 0.5;
}

#user_stats{
  font-size: 130%;
  opacity: 0.8;
  margin-left: 10%;
}
.col-md-2{
  margin-left: 1%;
  margin-right: 1%;
  text-align: center;
}


#db-workouts .row{
  margin-top: 7%;
  // margin-left: 5%;
  width: 100%;
  background-color: rgba(black, 0.4);
}
#db-workouts .col-md-4{
  margin-left: 10%;

}
#db-workouts h4{
  color: lightgreen;
  font-weight: 700;
  font-size: 180%;
  // text-decoration: underline;
}

#admin .col-md-4{
  margin-left: 12%;
  margin-right: 12%;
  margin-top: 4%;
  margin-bottom: 4%;
  width: 75%;
  background-color: rgba(black, 0.2);
}
.col-md-4 img{
  width: 24vw;
  height: 33vh;
  border: 1px solid white;
  border-radius: 4%;
  opacity: 0.9;
}

#admin ul{
  text-align: center;
  font-size: 170%;
  color:white;
}

#admin .row{
    margin-top: 7%;
    margin-bottom: 10%;
    width: 100%;
    background-color: rgba(black, 0.5);
}

#links {
  font-size: 70%;
}

#planner .row{
  margin-top: 7%;
  margin-bottom: 15%;
  // margin-left: 0 !important;
  width: 100%;
  background-color: rgba(black, 0.6);
}

#planner .col-md-4{
  margin-left: 7%;
  margin-right: 7%;
  margin-top: 1%;
  margin-bottom: 8%;
  font-size: 150%;
}

#planner strong, #admin h3{
  color: orangered;
  font-weight: 1100;
  font-size: 120%;
}

#planner h3{
  text-align: center;
}

#weather img{
  width: 24vw;
  height: 33vh;
}

footer{
  text-align: center;
  background-color: rgba(black, 0.6);
  padding: 1%;
  min-height: 10%;
}

small{
  color:lavender;
  font-size: 70%;
}

span{
  color: red;
  font-size: 120%;
}
