// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h2, h3 {
  color:white;
}
form{
  color: black;
  // opacity: 0.5;
}

#user_stats{
  font-size: 130%;
  opacity: 0.8;
  margin-left: 10%;
}
.col-md-2{
  margin-left: 1%;
  margin-right: 1%;
  text-align: center;
}

#db-workouts{
  margin: 10%;
  // padding: 5%;
}
#db-workouts h3{
  color: lightgreen;
  // text-decoration: underline;
}

#db-workouts h3:hover{
  color: orangered;
  text-decoration: none;
}

small{
  color:lavender;
  font-size: 70%;
}

.col-md-4{
  padding: 1px 3px;
  margin-left: 2%;
  margin-right: 2%;
  // border: solid 1px white;
  background-color: rgba(112, 112, 112, 0.4);
  color: white;
  border-radius: 8%;
}
.col-md-4 img{
  width: 26vw;
  height: 37vh;
  border: 1px solid white;
  border-radius: 4%;
}
#planner{
  margin-left: 20%;
  margin-top: 5%;
}

#planner img{
  width: 43vw;
  height: 46vh;
}

// .edit_user{
//     background-color: rgba(11, 8, 8, 0.3);
//     margin-left: 14%;
//     margin-right: 14%;
//     margin-top: 3%;
//     padding:5px;
//     color: white;
//     font-size: 130%;
//     text-align: center;
//   }
//
//   .edit_user fieldset, label{
//     padding: 4px;
//     color: white;
//   }
//
//   .edit_user .submit{
//     background-color: black;
//   }
